body{
	font-family: "微软雅黑";
	 -webkit-text-size-adjust:100%;
}
.part{
	position: relative;
	width: 100%;
}
.banner,.banner_box{
	width: 100%;
	height: 1080px;
}
.banner_box{
	
}
.banner_box ul{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.banner_box li{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.banner_box li a{
	display: block;
	height: 100%;
	width: 100%;
	outline: none;
}
.banner_box  img{
	width: 100%;
	height: 100%;
}
.banner_btn_box{
	z-index: 5;
	position: absolute;
	bottom: 0;
	margin-bottom: 7%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.banner_btn_box span{
	display: block;
	float: left;
	margin-right: 20px;
	width: 70px;
	height:6px;
	border: 2px solid #FFFFFF;
	border-radius: 5px;
}
.banner_btn_box span.on{
	border: 2px solid #bce0ff;
	background-color: #bce0ff;
}
.silder_bar{
	z-index: 999;
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: 3%;
	width: 25px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.silder_bar a{
	outline: none;
	display: block;
	margin-bottom: 20px;
	width: 25px;
	height: 25px;
	background: url(../img/index/circle_blue_icon.png) center center no-repeat;
}
.silder_bar a.active{
	background: url(../img/index/circle_gray.png) center center no-repeat;
}




.part .content{
	width: 100%;
}
.part2{
	background-color: #fbfbfb;
}
.part2 .title{
	width: 89.5%;
	margin: 2% auto 0;
	height: 58px;
	background: url(../img/index/part2_tit.png) center center no-repeat;
}
.timeless_wapper{
	position: relative;
	width: 1300px;
	margin: 0 auto;
	overflow: hidden;
	height: 880px;
}
.part2 .timeless_box{
	height: 100%;
	position: relative;
	width: 100%;
}
.part2 .timeline{
	position: absolute;
	border-top: 1px solid #b1b1b1;
	border-bottom: 1px solid #4d4d4d;
	width: 1000%;
	top: 50%;
	right: 0;
}
.part2 .timeline .arrow{
	display: block;
	outline: none;
	position: absolute;
	left: -100px;
	top: 50%;
	margin-top: -26px;
	width: 30px;
	height: 52px;
	background: url(../img/index/arrow.png) center center no-repeat;
}
.part2 .time_con{
	position: absolute;
	right: 0;
	width: 240px;
	height: 235px;
	text-align: center;
}
.part2 .time_con a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: right;
	outline: none;
}
.part2 .time_con img{
	height: 155px;
	width: 155px;
}
.part2 .time_con .txt{
	font-size: 28px;
	font-weight: 700;
	position: absolute;
	left: 0;
}
.part2 .time_add{
	position: absolute;
	top: -13px;
	right: 0;
	text-align: center;
	font-size: 28px;
}
.part2 .time_add .img{
	margin: 0 auto 4px;
	width: 26px;
	height: 26px;
	background: url(../img/index/time_add_y.png) center center no-repeat #fdfdfd;
}
.part2  .mouth{
	position: absolute;
	bottom: 12px;
	font-size: 36px;
	font-weight: 700;
}
.part2 .time_add.yellow{
	color: #f2c43b;
}


.part2 .time_con.yellow .txt, .part2  .yellow.blue{
	color: #f2c43b;
}
.part2 .time_con.purple .txt, .part2 .time_add.purple,.part2  .purple.blue{
	color: #434155;
}
.part2 .time_con.blue .txt, .part2 .time_add.blue, .part2  .mouth.blue{
	color: #46badd;
}
.part2 .time_con.orange .txt, .part2 .time_add.orange, .part2  .mouth.orange{
	color: #fda45c;
}
.part2 .time_con.pink .txt, .part2 .time_add.pink, .part2  .mouth.pink{
	color: #f7818c;
}
.part2 .time_con.black .txt, .part2 .time_add.black, .part2  .mouth.black{
	color: #4d4d4d;
}
.part2 .time_con.green .txt, .part2 .time_add.green, .part2  .mouth.green{
	color: #99b952;
}

.part2 .time_con.up{
	bottom: 20px;
}
.part2 .time_con.up2{
	bottom: 40px;
}

.part2 .time_con.up .txt{
	top: 0;
	padding-bottom: 5%;
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}
.part2 .time_con.down{
	top: 20px;
}
.part2 .time_con.down .txt{
	bottom: 0;
	padding-top: 5%;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
}
.part2 .time_add.down{
	top: 15px;
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}
.part2 .time_add.purple .img{
	background: url(../img/index/time_add_b.png) center center no-repeat #fdfdfd;
}
.part2 .time_add.blue .img{
	background: url(../img/index/time_add_bl.png) center center no-repeat #fdfdfd;
}
.part2 .time_add.orange .img{
	background: url(../img/index/time_add_orange.png) center center no-repeat #fdfdfd;
}
.part2 .time_add.pink .img{
	background: url(../img/index/time_add_pink.png) center center no-repeat #fdfdfd;
}
.part2 .time_add.black .img{
	background: url(../img/index/time_add_black.png) center center no-repeat #fdfdfd;
}
.part2 .time_add.green .img{
	background: url(../img/index/time_add_green.png) center center no-repeat #fdfdfd;
}
.part2 .time_con.yellow a{
	background: url(../img/index/circle_yellow.png) bottom right no-repeat #fdfdfd;
}
.part2 .time_con.blue a{
	background: url(../img/index/circle_blue.png) bottom right no-repeat #fdfdfd;
}
.part2 .time_con.purple a{
	background: url(../img/index/circle_purple.png) bottom right no-repeat #fdfdfd;
}
.part2 .time_con.orange a{
	background: url(../img/index/circle_orange.png) bottom right no-repeat #fdfdfd;
}
.part2 .time_con.pink a{
	background: url(../img/index/circle_pink.png) bottom right no-repeat #fdfdfd;
}
.part2 .time_con.black a{
	background: url(../img/index/circle_black.png) bottom right no-repeat #fdfdfd;
}
.part2 .time_con.green a{
	background: url(../img/index/circle_green.png) bottom right no-repeat #fdfdfd;
}
.part2 .time_con.yellow img{
	margin: 12px 21px 0 0;
}
.part2 .time_con.blue img{
	margin: 12px 34px 0 0;
}
.part2 .time_con.purple img{
	margin: 70px 34px 0 0;
}
.part2 .time_con.orange img{
	margin: 70px 36px 0 0;
}
.part2 .time_con.pink img{
	margin: 70px 39px 0 0;
}
.part2 .time_con.green img{
	margin: 70px 33px 0 0;
}
.part2 .time_con.black img{
	margin: 23px 33px 0 0;
}





.part3{
	min-height: 1700px;
	background: url(../img/index/part3_bg.png) repeat-x #d2e2ec;
	padding-top: 120px;
	padding-bottom: 100px;
}
.part3 .title{
	width: 1500px;
	height: 133px;
	margin: 0 auto 0;
	background: url(../img/index/part3_title.png) center center no-repeat;
}
.part3 .intro_img{
	width: 1571px;
	position: relative;
	height: 764px;
	margin: 115px auto 0;
	background: url(../img/index/part3_app.png) center center no-repeat;
}
.part3_skip{
	display: block;
	bottom: 50px;
	position: absolute;
	left: 50%;
	margin-left: -138px;
	width: 275px;
	height: 61px;
	background: url(../img/index/part3_btn.png) center center no-repeat;
}

.part3 .intro_box{
	padding-top: 60px;
}
.part3 .article{
	color: #FFFFFF;
	
}
.part3 .article1{
	float: left;
	width: 25%;
	margin-left: 5%;
}
.part3 .article3{
	float: right;
	width: 25%;
	margin-right: 5%;
}
.part3 .article2{
	width: 30%;
	margin: 0 auto;
}
.part3 .article .cell{
	position: relative;
	border-left: 3px solid #5489b9;
	padding-bottom: 80px;
}
.part3 .article .cell:last-child{
	border: none;
	padding-bottom:0 ;
}
.part3 .article .num{
	position: absolute;
	left: -22px;
	top: -2px;
	display: block;
	width: 43px;
	height: 43px;
	background: url(../img/index/num_1.png)  center center no-repeat;
}
.part3 .article p{
	margin: 0 0 5px 0;
	font-size: 20px;
}
.part3 .article .con_txt{
	padding-left: 30px;
}

.part4{
	width:100%;
	background-color: #f1f1f2;
	padding: 80px 0 140px
}
.part4 .title{
	width:935px;
	height:119px;
	margin:0 auto;
	background: url(../img/index/part4_title.png)  center center no-repeat;
}
.part4 .con_img{
	padding-top:200px;
	width:837px;
	height:282px;
	margin:0 auto;
	background: url(../img/index/part4_con.png)  center center no-repeat;
}
.part4 .num_box{
	position: absolute;
	right:100px;
	top:100px;
	width:314px;
	height:131px;
}
.part4 .num_box .con_box{
	width:50%;
	float:left;
	height:100%;
	font-size:13px;
	text-align: center;
	font-weight: bold;
}
.part4 .num_box .img_box{
	height:130px;
	width:100%;
	position: relative;
}
.part4 .num_box .img_box span{
	display:block;
	position:absolute;
	width:106px;
	height:100%;
}
.part4 .num_box .img_box span.num0{
	background: url(../img/index/par4_num_0.png)  center center no-repeat;
}
.part4 .num_box .img_box span.num1{
	background: url(../img/index/par4_num_1.png)  center center no-repeat;
}
.part4 .num_box .img_box span.num2{
	background: url(../img/index/par4_num_2.png)  center center no-repeat;
}
.part4 .num_box .img_box span.num3{
	background: url(../img/index/par4_num_3.png)  center center no-repeat;
}
.part4 .num_box .img_box span.num4{
	background: url(../img/index/par4_num_4.png)  center center no-repeat;
}
.part4 .num_box .img_box span.num5{
	background: url(../img/index/par4_num_5.png)  center center no-repeat;
}
.part4 .num_box .img_box span.num6{
	background: url(../img/index/par4_num_6.png)  center center no-repeat;
}
.part4 .num_box .img_box span.num7{
	background: url(../img/index/par4_num_7.png)  center center no-repeat;
}
.part4 .num_box .img_box span.num8{
	background: url(../img/index/par4_num_8.png)  center center no-repeat;
}
.part4 .num_box .img_box span.num9{
	background: url(../img/index/par4_num_9.png)  center center no-repeat;
}

.part4 .num_box .img_box.red span.num0{
	background: url(../img/index/par4_num_red_0.png)  center center no-repeat;
}
.part4 .num_box .img_box.red span.num1{
	background: url(../img/index/par4_num_red_1.png)  center center no-repeat;
}
.part4 .num_box .img_box.red span.num2{
	background: url(../img/index/par4_num_red_2.png)  center center no-repeat;
}
.part4 .num_box .img_box.red span.num3{
	background: url(../img/index/par4_num_red_3.png)  center center no-repeat;
}
.part4 .num_box .img_box.red span.num4{
	background: url(../img/index/par4_num_red_4.png)  center center no-repeat;
}
.part4 .num_box .img_box.red span.num5{
	background: url(../img/index/par4_num_red_5.png)  center center no-repeat;
}
.part4 .num_box .img_box.red span.num6{
	background: url(../img/index/par4_num_red_6.png)  center center no-repeat;
}
.part4 .num_box .img_box.red span.num7{
	background: url(../img/index/par4_num_red_7.png)  center center no-repeat;
}
.part4 .num_box .img_box.red span.num8{
	background: url(../img/index/par4_num_red_8.png)  center center no-repeat;
}
.part4 .num_box .img_box.red span.num9{
	background: url(../img/index/par4_num_red_9.png)  center center no-repeat;
}
.part4 .num_box .img_box span.first{
	top:0;
	left:-8px;
}
.part4 .num_box .img_box span.second{
	top:0;
	right:-8px;
}
.part4 .con_box .txt{
	margin-top:-12px;
	color: #616161;
}
.part4 .btn_box{
	padding-top: 40px;
}
.part4 .btn_box a{
	display:block;
	width:275px;
	height:61px;
	margin:0 auto;
	background: url(../img/index/part4_btn.png)  center center no-repeat;
}

.part5{
	width:100%;
	padding: 110px 0 50px;
	background-color: #7fa3cb;
}
.part5 .title{
	width:510px;
	height:99px;
	padding-bottom:50px;
	margin:0 auto;
	background: url(../img/index/part5_title.png)  center center no-repeat;
}
.part5 .con_img{
	width:607px;
	height:126px;
	margin:0 auto;
	padding-bottom:80px;
	background: url(../img/index/part5_con_img.png)  center center no-repeat;
}
.part5 .btn_box a{
	display:block;
	width:275px;
	height:61px;
	margin:0 auto;
	background: url(../img/index/part5_btn.png)  center center no-repeat;
}
.part5 .con_box{
	padding-top:80px;
	margin:0 auto;
	width:1150px;
}
.part5 .con_box .cell{
	padding:10px;
	width:518px;
	background-color: #6ba7f0;
}
.part5 .con_box .lf{
	float:left;
}
.part5 .con_box .rf{
	float:right;
}
.part5 .img_cell{
	width:518px;
	position: relative;
	height:298px;
}
.part5 .img_cell img{
	width:100%;
	height:100%;
}
.part5 .txt{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
}

.part5 .txt_inner{
	padding:10px 30px;
	text-align: right;
	color:#FFFFFF;
	font-size:25px;
	font-weight:700;
	background-color: rgba(153,185,235,.7)
}
.part5 .con_box .rf .txt_inner{
	text-align: left;
}
.part5 .txt_list{
	padding: 20px;
	position: relative;
	background-color: #b1d0f7;
}
.part5 .txt_list p{
	margin:0 0 10px 0;
	color:#515362;
	font-size:22px;
	font-weight: bold;
}
.part5 .txt_list p:last-child{
	margin-bottom: 0
}

.part6{
	width:100%;
	padding: 100px 0 40px;
	background-color: #e5edf6;
}
.part6 .title{
	margin: 0 auto;
	width: 879px;
	height: 56px;
	padding-bottom: 100px;
	background: url(../img/index/part6_title.png)  0 0 no-repeat;
}
.part6 .con_box{
	width: 1070px;
	margin: 0 auto;
}
.part6 .con_box .cell{
	width: 490px;
	padding-top: 25px;
	float: left;
	position: relative;
}
.part6 .con_box .cell_inner_top{
	width: 100%;
	padding-top: 70px;
	background: url(../img/index/part6_box_top.png)  0 0 no-repeat;
}
.part6 .con_box .cell_inner_bottom{
	width: 100%;
	padding-bottom: 70px;
	background: url(../img/index/part6_box_bottom.png)  bottom left no-repeat;
}
.part6 .con_box .cell_inner_center{
	width: 100%;
	background: url(../img/index/part6_box_center.png)  0 0 repeat-y;
}
.part6 .con_box .cell_inner_txt{
	min-height: 300px;
	padding: 220px 60px 20px 60px;
	color: #FFFFFF;
	font-size: 14.5px;
}
.part6 .cell  .img_box{
	position: absolute;
	left: 50%;
	top:-40px;
	margin-left: -145px;
	width: 270px;
	height: 306px;
	border: 6px solid #8799b9;
	border-radius: 8px;
}
.part6 .cell .img_box img{
	width: 100%;
	height: 100%;
	border-radius: 8px
}
.logo_box{
	background: none;
}

.logo_box .logo_w{
	float: right;
	width: 269px;
	height: 92px;
	background: url(../img/logo4.png) no-repeat bottom right;
	background-size: 100%;
}









