body{
	font-size: 17.5px;
	font-family: "微软雅黑";
}
.red{
	color: #b10000;
}
.title_bg{
	width: 100%;
	position: relative;
	z-index: 11;
}
.title_bg_pad{
	width: 100%;
	padding-bottom: 49%;
	background: url(../img/law/law_title.png) no-repeat 0 0;
	background-size: 100%;
}
.logo{
	position: absolute;
	top: 0;
	right: 0;	
	margin: 3% 3% 0 0;
	background: url(../img/logo.png) no-repeat 0 0;
	background-size: 100%;
	width: 16.5%;
	padding-bottom: 7%;
}
.content{
	position: relative;
	width: 100%;
	background: url(../img/law/law_bg_1.png) no-repeat left bottom;
	background-size: 100%;
	margin-top: -2%;
	overflow: hidden;
}

.content_con{
	width: 80%;
	margin: 2% auto 0;
	padding-bottom: 4%;
}
.content_con h1{
	font-size: 221%;
	margin: 4% 0 1% 0;
}
.content_con h2{
	font-size: 157%;
	margin: 0 0 1% 0;
	font-style: normal;
}
.content_con h3{
	font-size: 148%;
	font-style: normal;
}
.content_con .cell{
	margin-top: 5%;
}
.content_con .cell h3 i{
	font-size: 257%;
}
.content_con .cell h3 i span{
	font-style: normal;
	font-family: arial;
}
.content_con .cell p{
	font-size: 100%;
	margin: 0 0 2% 7%;
}
.footer{
	padding: 1.5% 0;
	background: #30333a;
	position: relative;
	font-size: 12px;
}
.footer .txt{
	display: inline-block;
	vertical-align: middle;
	width: 55%;
	margin-left: 5%;
	color: #ffffff;
}
.footer .txt p{
	margin: 0;
	margin-bottom: 0.5%;
}
.logo_box{
	width: 34%;
	display: inline-block;
	vertical-align: middle;
	background: url(../img/line.png) no-repeat bottom right;
	background-size: 100%;
}
.logo_box .logo_w{
	float: left;
	width: 33%;
	background: url(../img/logo4.png) no-repeat bottom right;
	background-size: 100%;
	padding-bottom: 11%;
}
.logo_box .logo_r{
	float: right;
	width: 53%;
	background: url(../img/logo5.png) no-repeat bottom right;
	background-size: 100%;
	padding-bottom: 11%;
}




