body{
	font-family: "微软雅黑";
}
.part{
	position: relative;
	width: 100%;
}
.banner,.banner_box{
	width: 100%;
	height: 962px;
}
.banner_box{
	
}
.banner_box ul{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.banner_box li{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.banner_box li a{
	display: block;
	height: 100%;
	width: 100%;
	outline: none;
}
.banner_box  img{
	width: 100%;
	height: 100%;
}
.banner_btn_box{
	z-index: 5;
	position: absolute;
	bottom: 0;
	margin-bottom: 7%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.banner_btn_box span{
	display: block;
	float: left;
	margin-right: 20px;
	width: 70px;
	height:6px;
	border: 2px solid #FFFFFF;
	border-radius: 5px;
}
.banner_btn_box span.on{
	border: 2px solid #bce0ff;
	background-color: #bce0ff;
}
.silder_bar{
	z-index: 999;
	position: fixed;
	top: 50%;
	right: 0;
	margin-right: 3%;
	width: 25px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.silder_bar a{
	outline: none;
	display: block;
	margin-bottom: 20px;
	width: 25px;
	height: 25px;
	background: url(../img/index/circle_blue_icon.png) center center no-repeat;
}
.silder_bar a.active{
	background: url(../img/index/circle_gray.png) center center no-repeat;
}




.part .content{
	width: 100%;
	padding-bottom: 100px;
}
.part2{
	/*background:url(../img/mindex/part2_bg.png) center center repeat-x #dddddd;*/
	background-color: #f6f6f6;
}
.part2 .title{
	width: 640px;
	margin:0 auto 0;
	height: 38px;
	background: url(../img/mindex/part2_title.png) center center no-repeat;
}
.timeless_wapper{
	position: relative;
	width: 100%;
	margin: 50px auto 0;
	overflow: hidden;
	height: 1500px;
}
.part2 .timeless_box{
	height: 100%;
	position: relative;
	width: 100%;
}
.part2 .timeline{
	position: absolute;
	border-left: 1px solid #b1b1b1;
	border-right: 1px solid #4d4d4d;
	margin-right: -2px;
	height: 100%;
	top: 0;
	left: 50%;
}
.part2 .timeline .arrow{
	display: block;
	outline: none;
	position: absolute;
	left: -100px;
	top: 50%;
	margin-top: -26px;
	width: 30px;
	height: 52px;
	background: url(../img/index/arrow.png) center center no-repeat;
}
.part2 .time_con{
	position: absolute;
	right: -260px;
	width: 240px;
	height: 201px;
	text-align: center;
}
.part2 .time_con.down{
	right: 40px;
}
.part2 .time_con a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: right;
	outline: none;
}
.part2 .time_con img{
	height: 155px;
	width: 155px;
}
.part2 .time_con .txt{
	font-size: 28px;
	font-weight: 700;
}
.part2 .time_add{
	position: absolute;
	top: 0;
	right: -13.5px;
	text-align: center;
	font-size: 28px;
}
.part2 .time_add .date{
	position: absolute;
	top: -8px;
	left: -72px;
}
.part2 .time_add.down .date{
	position: absolute;
	top: -4px;
	left: 40px;
	width: 100px;
	text-align: left;
}
.part2 .time_add .img{
	margin: 0 auto;
	width: 26px;
	height: 30px;
	background: url(../img/index/time_add_y.png) center center no-repeat #f6f6f6;
}
.part2  .mouth{
	position: absolute;
	left: 20px;
	font-size: 32px;
	width: 100px;
	text-align: left;
	font-weight: 700;
}
.part2 .time_add.yellow{
	color: #f2c43b;
}
.part2 .time_con.up2{
	right: -280px;
}


.part2 .time_con.yellow .txt, .part2  .yellow.blue{
	color: #f2c43b;
}
.part2 .time_con.purple .txt, .part2 .time_add.purple,.part2  .purple.blue{
	color: #434155;
}
.part2 .time_con.blue .txt, .part2 .time_add.blue, .part2  .mouth.blue{
	color: #46badd;
}
.part2 .time_con.orange .txt, .part2 .time_add.orange, .part2  .mouth.orange{
	color: #fda45c;
}
.part2 .time_con.pink .txt, .part2 .time_add.pink, .part2  .mouth.pink{
	color: #f7818c;
}
.part2 .time_con.black .txt, .part2 .time_add.black, .part2  .mouth.black{
	color: #4d4d4d;
}
.part2 .time_con.green .txt, .part2 .time_add.green, .part2  .mouth.green{
	color: #99b952;
}

.part2 .time_add.purple .img{
	background: url(../img/index/time_add_b.png) center center no-repeat #f6f6f6;
}
.part2 .time_add.blue .img{
	background: url(../img/index/time_add_bl.png) center center no-repeat #f6f6f6;
}
.part2 .time_add.orange .img{
	background: url(../img/index/time_add_orange.png) center center no-repeat #f6f6f6;
}
.part2 .time_add.pink .img{
	background: url(../img/index/time_add_pink.png) center center no-repeat #f6f6f6;
}
.part2 .time_add.black .img{
	background: url(../img/index/time_add_black.png) center center no-repeat #f6f6f6;
}
.part2 .time_add.green .img{
	background: url(../img/index/time_add_green.png) center center no-repeat #f6f6f6;
}
.part2 .time_con.yellow a{
	background: url(../img/mindex/circle_yellow.png) bottom right no-repeat;
}
.part2 .time_con.blue a{
	background: url(../img/mindex/circle_blue.png) bottom right no-repeat;
}
.part2 .time_con.purple a{
	background: url(../img/mindex/circle_purple.png) bottom right no-repeat;
}
.part2 .time_con.orange a{
	background: url(../img/mindex/circle_orange.png) bottom right no-repeat;
}
.part2 .time_con.pink a{
	background: url(../img/mindex/circle_pink.png) bottom right no-repeat;
}
.part2 .time_con.black a{
	background: url(../img/mindex/circle_black.png) bottom right no-repeat;
}
.part2 .time_con.green a{
	background: url(../img/mindex/circle_green.png) bottom right no-repeat;
}
.part2 .time_con.up img{
	margin: 12px 10px 0 0;
}
.part2 .time_con.down img{
	margin: 12px 37px 0 0;
}
/*.part2 .time_con.blue img{
	margin: 12px 34px 0 0;
}
.part2 .time_con.orange img{
	margin: 70px 36px 0 0;
}
.part2 .time_con.pink img{
	margin: 70px 39px 0 0;
}
.part2 .time_con.green img{
	margin: 70px 33px 0 0;
}
.part2 .time_con.black img{
	margin: 23px 33px 0 0;
}*/





.part3{
	min-height: 1700px;
	background: url(../img/mindex/part3_bg.png) center center repeat-x #d2e2ec;
	padding-top: 120px;
	padding-bottom: 100px;
}

.part3 .title{
	width: 540px;
	margin: 0 auto;
	font-size: 24px;
	font-weight: 700;
	color: #3c6cbb;
	padding-bottom: 100px;
}
.part3 .title .red{
	font-size: 28px;
	color: #f2776d;
}
.part3 .con1{
	width: 525px;
	height: 601px;
	margin: 0 auto;
	background: url(../img/mindex/part3_con1.png) center center no-repeat;
	padding-bottom: 100px;
}
.part3 .con2{
	position: relative;
	width: 610px;
	height: 657px;
	margin: 0 auto;
	background: url(../img/mindex/part3_con2.png) center center no-repeat;
	padding-bottom: 100px;
}
.part3 .con3{
	position: relative;
	width: 545px;
	height: 682px;
	margin: 0 auto;
	background: url(../img/mindex/part3_con3.png) center center no-repeat;
	padding-bottom: 100px;
}
.part3 .con2 .btn{
	position: absolute;
	bottom: 30px;
	right: 50px;
	width: 197px;
	height: 39px;
	display: block;
	background: url(../img/mindex/part3_btn.png) no-repeat;
	background-size: 100%;
	padding-bottom: 100px;
}

.part4{
	width:100%;
	background-color: #f1f1f2;
	padding: 80px 0 100px
}
.part4 .title{
	width:550px;
	height:533px;
	margin:0 auto 50px;
	background: url(../img/mindex/part4_title.png)  center center no-repeat;
}
.part4 .con_img{
	padding-top:200px;
	width:837px;
	height:282px;
	margin:0 auto;
	background: url(../img/index/part4_con.png)  center center no-repeat;
}
.part4 .btn_box{
	padding-top: 40px;
}
.part4 .btn_box a{
	display:block;
	width:275px;
	height:61px;
	margin:0 auto;
	background: url(../img/index/part4_btn.png)  center center no-repeat;
}

.part5{
	width:100%;
	padding: 110px 0 50px;
	background-color: #7fa3cb;
}
.part5 .title{
	width:401px;
	height:70px;
	padding-bottom:50px;
	margin:0 auto;
	background: url(../img/mindex/part5_title.png)  center center no-repeat;
}
.part5 .con_img{
	width:477px;
	height:99px;
	margin:0 auto;
	padding-bottom:80px;
	background: url(../img/mindex/circle_con.png)  center center no-repeat;
}
.part5 .btn_box a{
	display:block;
	width:275px;
	height:61px;
	margin:0 auto;
	background: url(../img/index/part5_btn.png)  center center no-repeat;
}
.part5 .con_box{
	padding-top:80px;
	margin:0 auto;
	width:90%;
}
.part5 .con_box .cell{
	padding:10px;
	width:90%;
	margin: 0 auto 30px;
	background-color: #6ba7f0;
}
.part5 .img_cell{
	width:100%;
	position: relative;
}
.part5 .img_cell img{
	width:100%;
}
.part5 .txt{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
}

.part5 .txt_inner{
	padding:10px 30px;
	text-align: right;
	color:#FFFFFF;
	font-size:18px;
	font-weight:700;
	background-color: rgba(153,185,235,.7)
}
.part5 .txt_list{
	padding: 20px;
	position: relative;
	background-color: #b1d0f7;
}
.part5 .txt_list p{
	margin:0 0 10px 0;
	color:#515362;
	font-size:16px;
	font-weight: bold;
}
.part5 .txt_list p:last-child{
	margin-bottom: 0
}

.part6{
	width:100%;
	padding: 100px 0 40px;
	background-color: #e5edf6;
}
.part6 .title{
	margin: 0 auto;
	width: 372px;
	height: 95px;
	padding-bottom: 100px;
	background: url(../img/mindex/part6_title.png)  0 0 no-repeat;
}
.part6 .con_box{
	width: 90%;
	margin: 0 auto;
}
.part6 .con_box .cell{
	width: 360px;
	padding-top: 25px;
	float: left;
	position: relative;
}
.part6 .con_box .cell_inner_top{
	width: 100%;
	padding-top: 35px;
	background: url(../img/index/part6_box_top.png)  0 0 no-repeat;
	background-size: 100%;
}
.part6 .con_box .cell_inner_bottom{
	width: 100%;
	padding-bottom: 35px;
	background: url(../img/index/part6_box_bottom.png)  bottom left no-repeat;
	background-size: 100%;
}
.part6 .con_box .cell_inner_center{
	width: 100%;
	background: url(../img/index/part6_box_center.png)  0 0 repeat-y;
	background-size: 100%;
}
.part6 .con_box .cell_inner_txt{
	min-height: 300px;
	padding: 180px 60px 20px 60px;
	color: #FFFFFF;
	font-size: 14.5px;
}
.part6 .cell  .img_box{
	position: absolute;
	left: 50%;
	top:-40px;
	margin-left: -110px;
	width: 205px;
	height: 240px;
	border: 6px solid #8799b9;
	border-radius: 8px;
}
.part6 .cell .img_box img{
	width: 100%;
	height: 100%;
	border-radius: 8px
}

.logo_box{
	background: none;
}

.logo_box .logo_w{
	float: right;
	width: 190px;
	height: 71px;
	background: url(../img/logo4.png) no-repeat bottom right;
	background-size: 100%;
}










